@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Permanent+Marker&display=swap');

body {
  background-color: #0a0a0a;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  background-image: radial-gradient(#333 1px, transparent 1px);
  background-size: 40px 40px; /* This creates the dot grid */
}

.handwritten {
  font-family: 'Permanent Marker', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Permanent+Marker&display=swap');

html {
  scroll-behavior: smooth; /* Links par click karne pe smooth jayega */
}

.handwritten {
  font-family: 'Permanent Marker', cursive;
}
@media (min-width: 768px) {
  body, a, button, input, textarea {
    cursor: none !important;
  }
}